.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env Files
.env
.env.local
.env.*.local

# Logs
*.log

node_modules/
.next/
out/
dist/

.DS_Store
.vscode/
.idea/

uploads/
data/

models/
*.gguf

supabase/.temp/